main, nav, body, footer{
    display: flex;
    background-color: #232323;
    color: #B0B0B0;
}

main{

    width: 100%;
    height: 100%;

    padding: 10px;
    margin: 0px;

    /* Website Architecture*/
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.divElement {
    align-self: flex-start;
}

body{
    display: flex;
    margin: 0% 5% 0% 5%;
    justify-content: space-between;
}

.divElement > h1{
    justify-items: flex-start;

    width: 100%;
    height: 100%;

    text-align: left;
    font-size: 50px;

    color:#759257;


}


.divElement> p{
    text-indent: 30px;
    font-size:35px;
}
#intro > p{
    text-indent: 0px;
}

span{
    font-style: bold;
    font-size: 60px;
}




nav{
    width: 100%;
    justify-content: center;
    padding: 0px, 100px,0px,100px;
}

nav > li{
    font-size: 20px;
    list-style-type: none;
}

nav > li > a{
    justify-self: center;
    align-self: center; 
    font-size: 35px;
}
nav > li > a:visited, nav > li > a{
    color: #759257;
    text-decoration: none;
}
nav > li > a:hover{
    text-decoration: underline;
}

ol{
    font-size: 35px;
}

#source > ol> a, #source > ol > a:visited{
    color : #A8DAF9;
}

